{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{super()}}
    {{title.capitalize()}}
{% endblock %}

{% block page_content %}

    <div class="headers">
        {{title.capitalize()}}
    </div>

    <div class="forms-flexbox">
        <div class="form-container">
            <!-- Bootstrap creation of a FORM -->
            {{ wtf.quick_form(form) }}

            {% if title == 'login' %}
                <p class="new-user">New user?
                    <a href="{{ url_for('auth.register') }}">Click here to register</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
