*, *::before, *::after {
    box-sizing: border-box;
}
body {
    background-color: rgb(63, 111, 147);
}
.navbar {
    background-color: ivory;
}
.profile-img-container {
    margin-top: 30px;
}
.profile-container {
    min-height: 310px;
    margin-left: 50px;
}
#logo {
    color: #73AD21;
    font-style: italic;
    font-family: cursive;
}
.dropdown-menu a {
    font-family:Arial, Helvetica, sans-serif;
}
.main-container {
    width: 100%;
    /* min-height: 100vh; */
    padding: 30px;
    margin: auto;
    padding-bottom: 0px;
}
.game-container {
    width: 630px;
    height: 100vh;
    margin: auto;
}
/* all first level children of .game-container */
.game-container > div {
    width: 100%;
}
.forms-flexbox {
    display: flex;
    justify-content: center;
    background-color: beige;
    width: 100%;
    margin: auto;
    border: 3px solid #73AD21;
    border-radius: 50px;
    padding: 20px;
    margin-top: 30px;
    /* margin-bottom: 25px; */
}
/* contains auth forms items */
.form-container {
    width: 80%;
    margin: auto;
    padding: 10px;
}
.form-container p {
    margin-top: 20px;
}
/* Rendering high scores */
.table-container {
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
/* level screen settings */
/* ----------------------------------------- */
.generic-box {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.selections-flex-box {
    display: flex;
}
.selections-flex-box > .levels {
    flex: 1;
}
/* level boxes (there are 3) */
.levels {
    padding: 10px;
}
/* all labels inside levels box */
.levels label {
    font-size: 2.3rem;
}
/* all items inside the levels box */
.levels > * {
    margin-left: 20%;
}
/* just the headers inside levels box*/
.levels > .level-choice-header {
    width: 100%;
    margin: auto;
    text-decoration: underline;
    margin-bottom: 15px;
    font-size: 3rem;
}
/* jsut the last levels box with toggle switch */
.levels.accidental-combine {
    width: 50%;
    margin: auto;
    margin-top: 10px;
}
.levels.accidental-combine > * {
    margin-left: 0px;
}
.levels.accidental-combine > .label {
    margin-bottom: 25px;
}
/* gets activated if the radio button for accidentals is on None */
.levels.accidental-combine #accOnlyToggleLabel.inactive{
    color: grey;
}
/* ---------------------------------------- */
.headers {
    color: ivory;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-family: Apple Chancery, cursive;
    text-shadow: 0 0 3px green;
    font-size: xxx-large;
    text-align: center;
}
/* space for rendering notes */
#vexflow-space {
    background-color: beige;
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 3px solid #73AD21;
    padding-left: 10px;
    padding-right: 15px;
    /* height: 310px; */
    height: 270px;
}
.play-scoreboard {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    color: #73AD21;
}
/* score and timer digit counter */
.badge {
    font-size: 3.5rem;
    background-color: transparent;
}
/* general label settings */
.label {
    color: #73AD21;
    font-style: italic;
    font-family: cursive;
    font-size: 4rem;
    background-color: transparent;
}
.timer-score-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* changes the color of the score counter depending if the score goes up or down */
#score.correct {
    color: #73AD21;
}
#score.wrong {
    color: red;
}
#counter.expired{
    color: red;
}
.piano {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    padding: 0px;
}
.key {
    height: calc(var(--width) * 2.7);
    width: var(--width);
    text-align: center;
    border: 1px solid #333;
}
/* displays color of the piano key depending if the user guessed coorectly or not */
.key.correct {
    background-color: #73AD21;
}
.key.wrong {
    background-color: lightcoral;
}
.white {
    --width: 90px;
    background-color: ivory;
    /* border: 1px solid #333; */
}
.black {
    --width: 52px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
}

/* note name on the keyboard */
.noteLabel {
    position: relative;
    bottom: -180px;
    font-size: 1.5em;
    display: none;
    font-family: cursive;
}
.black .noteLabel{
    bottom: -70px;
    color: beige;
    font-size: 1em;
}
/* makes the name of the piano key appear */
.noteLabel.correct {
    display: block;
}
.noteLabel.wrong {
    display: block;
}
/* the pause and exit buttons during play */
.play-buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn-container {
    margin-left: 25px;
    margin-right: 25px;
    width: 25%;
}
.btn-success {
    border-radius: 25px;
    font-size: 2.5rem;
}
.cheat-sheet{
    font-size: small;
    margin-top: 20px;
}
.cheat-sheet a {
   color: inherit;
   text-decoration: none;
}
.link:hover {
    font-style: italic;
}
/* overrides the radio button to style it */
/* -------------------------------------------- */
.levels > input[type="radio"] {
    display: none;
}
.levels > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 1.5rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #73AD21;
  }
  .levels > input[type="radio"]:checked + *::before {
    background: radial-gradient(#73AD21 0%, #73AD21 40%, transparent 50%, transparent);
    border-color: #73AD21;
  }
/* -------------------------------------------- */
/* TOGGLE SWITCH */
/* overwrites the checkbox to create toggle switch */
/* -------------------------------------------- */
.toggle {
    --width: 40px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);

    display: inline-block;
    cursor: pointer;
}
.toggle__input {
    display: none;
}
.toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #dddddd;
    transition: background 0.2s;
}
.toggle__fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}
.toggle__input:checked ~ .toggle__fill {
    background: #73AD21;
}
.toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(var(--height));
}
/* -------------------------------------------- */

/* HINT BUBBLE */
/* -------------------------------------------- */
.hint-container {
    position: relative;
}
#circular-sb {
    left: 410px;
    bottom: 109px;
    width: 69px;
    height: 49px;
    position: absolute;
    border: 3px solid #73AD21;
    border-radius: 50%;
    text-align: center;
    display: none;
}
/* displays if active */
#circular-sb.active {
    display: block;
}
/* the p displaying the HINT letters */
#note-hint {
        color: #73AD21;
        font-style: italic;
        font-family: cursive;
        font-size: 2.5rem;
}
#circular-sb > div {
    background-color: beige;
    border: 3px solid #73AD21;
    position: absolute;
    border-radius: 50%;
}
/*right circle shape speech bubble*/
#circle-l-top {
    left: -14px;
    bottom: 23px;
    width: 28px;
    height: 17px;
}
#circle-s-top {
    left: -37px;
    bottom: 32px;
    width: 22px;
    height: 13px;
}

  /*bottom circles*/
#circle-l-bottom {
    left: -14px;
    bottom: 2px;
    width: 28px;
    height: 17px;
}
#circle-s-bottom {
    left: -37px;
    bottom: -3px;
    width: 22px;
    height: 13px;
}
/* -------------------------------------------- */