*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(63, 111, 147);
}

.navbar {
    background-color: ivory;
}

.profile-img-container {
    margin-top: 30px;
}

.profile-container {
    min-height: 310px;
    margin-left: 50px;
}

#logo {
    color: #73AD21;
    font-style: italic;
    font-family: cursive;
}

.dropdown-menu a {
    font-family:Arial, Helvetica, sans-serif;
}

.main-container {
    width: 100%;
    /* min-height: 100vh; */
    padding: 30px;
    margin: auto;
    padding-bottom: 0px;
}

.game-container {
    width: 630px;
    height: 100vh;
    margin: auto;
}

/* all first level children of .game-container */
.game-container > div {
    width: 100%;
}

.forms-flexbox {
    display: flex;
    justify-content: center;
    background-color: beige;
    width: 100%;
    margin: auto;
    border: 3px solid #73AD21;
    border-radius: 50px;
    padding: 20px;
    margin-top: 30px;
    /* margin-bottom: 25px; */
}

/* Rendering high scores */
.table-container {
    width: 80%;
    margin: auto;
    margin-top: 10px;

}

.headers {
    color: ivory;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-family: Apple Chancery, cursive;
    text-shadow: 0 0 3px green;
    font-size: xxx-large;
    text-align: center;
}

/* space for rendering notes */
#vexflow-space {
    background-color: beige;
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 3px solid #73AD21;
    padding-left: 10px;
    padding-right: 15px;
    /* height: 310px; */
    height: 270px;
}

.play-scoreboard {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    color: #73AD21;
}

/* general label settings */
.label {
    color: #73AD21;
    font-style: italic;
    font-family: cursive;
    font-size: 3.5rem;
    background-color: transparent;
}

.timer-score-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* score and timer digit counter */
.badge {
    font-size: 3.5rem;
    background-color: transparent;
}

/* changes the color of the counter depending if the score goes up or down */
#score.correct {
    color: #73AD21;
}

#score.wrong {
    color: red;
}

.piano {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    padding: 0px;
}

.key {
    height: calc(var(--width) * 2.7);
    width: var(--width);
    text-align: center;
}

.noteLabel {
    position: relative;
    bottom: -190px;
    font-size: 1.5em;
    display: none;
    font-family: cursive;
}

/* makes the name of the piano key appear */
.noteLabel.correct {
    display: block;
}

.noteLabel.wrong {
    display: block;
}

.white {
    --width: 90px;
    background-color: ivory;
    border: 1px solid #333;
}

/* displays color of the piano key depending if the user guessed coorectly or not */
.key.correct {
    background-color: #73AD21;
}

.key.wrong {
    background-color: lightcoral;
}

.black {
    --width: 52px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
}

.black.active {
    background-color: #333;
}

/* the pause and exit buttons during play */
.play-buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-container {
    margin-left: 25px;
    margin-right: 25px;
    width: 25%;
}

.btn-success {
    border-radius: 25px;
    font-size: 2.5rem;
}

.cheat-sheet{
    font-size: small;
    margin-top: 20px;
}
.cheat-sheet a{
    color: beige;
    font-style: italic;
}

/* overrides the radio button to style it */
.levels > input[type="radio"] {
    display: none;
}

.levels > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 1.5rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #73AD21;
  }

  .levels > input[type="radio"]:checked + *::before {
    background: radial-gradient(#73AD21 0%, #73AD21 40%, transparent 50%, transparent);
    border-color: #73AD21;
  }
