{% extends 'base.html' %}
<!-- {% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %} -->

{% block title %} {{super()}} Home {% endblock %}
{% block head %}
    {{super()}}
    <script src="{{url_for('static', filename='home.js')}}" defer></script>
{% endblock %}

{% block page_content %}
    {{super()}}

    <div class="game-container">

        <div class="headers">
                Choose your Level
        </div>

        <div class="forms-flexbox play-btn">
            <div class="form">
                <div class="levels">
                <div>
                <input type="radio" id="basic" class="radio-btn" name="level" value="basic">
                <label class="badge label level" for="basic">Basic</label><br>
                <input type="radio" id="treble" class="radio-btn" name="level" value="treble">
                <label class="badge label level" for="treble">Treble line</label><br>
                <input type="radio" id="bass" class="radio-btn" name="level" value="bass">
                <label class="badge label level" for="bass">Bass line</label><br>
                <input type="radio" id="all" class="radio-btn" name="level" value="all">
                <label class="badge label level" for="all">All of it</label>
                </div>
                </div>
            </div>
        </div>

        <!-- Play button -->
        <div class="play-btn forms-flexbox"><a id="play" class="btn btn-default btn btn-success btn-lg .active btn-block">Play</a></div>

        <div class="cheat-sheet headers">
            <p> Open <a href="{{url_for('static', filename='grand_staff.jpg')}}" target="_blank">Notes Cheat Sheet</a> before you start if you need some help</p>
        </div>

    </div>

    <!-- {% if pagination and pagination.pages > 1 %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'main.index') }}
    </div>
    {% endif %} -->

{% endblock %}
