{% extends 'base.html' %}
<!-- {% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %} -->

{% block title %} {{super()}} Home {% endblock %}
{% block head %}
    {{super()}}
    <script src="{{url_for('static', filename='home.js')}}" defer></script>
{% endblock %}

{% block page_content %}

        <div class="headers">
                <p>Choose your Level</p>
        </div>

        <div class="forms-flexbox">
            <div class="generic-box">
            <div class="selections-flex-box">
                <!-- note level -->
                <div class="levels">
                    <label class="badge label level-choice-header" >notes</label><br>
                    <input type="radio" id="basic" class="radio-btn level" name="level" value="basic" checked>
                    <label class="badge label" for="basic">basic</label><br>
                    <input type="radio" id="treble" class="radio-btn level" name="level" value="treble">
                    <label class="badge label" for="treble">treble line</label><br>
                    <input type="radio" id="bass" class="radio-btn level" name="level" value="bass">
                    <label class="badge label" for="bass">bass line</label><br>
                    <input type="radio" id="all" class="radio-btn level" name="level" value="all">
                    <label class="badge label" for="all">all of it</label>
                </div>

                <!-- which accidentals to include -->
                <div class="levels">
                    <label class="badge label level-choice-header" >accidentals</label><br>
                    <input type="radio" id="no-accidental" class="radio-btn accidental" name="accidental" value="noAccidental" checked>
                    <label class="badge label" for="no-accidental">none</label><br>
                    <input type="radio" id="sharp-accidental" class="radio-btn accidental" name="accidental" value="sharpAccidental">
                    <label class="badge label" for="sharp-accidental">sharp only</label><br>
                    <input type="radio" id="flat-accidental" class="radio-btn accidental" name="accidental" value="flatAccidental">
                    <label class="badge label" for="flat-accidental">flat only</label><br>
                    <input type="radio" id="all-accidental" class="radio-btn accidental" name="accidental" value="allAccidental">
                    <label class="badge label" for="all-accidental">both</label>
                </div>

            </div> <!-- end selections-flex-box box -->

            <!-- TOGGLEs switch box -->
            <div> <!-- toggle switch container -->
                <div class="levels accidental-combine"> <!-- toggle switch box -->

                    <!-- LEARNING MODE -->
                    <label class="toggle" for="learningModeToggle">
                        <input class="toggle__input" name="" type="checkbox" id="learningModeToggle" checked>
                        <div class="toggle__fill"></div>
                    </label>
                    <label class="badge label" id="learningModeToggleLabel">learning mode</label>
                    <br>
                    <!-- ACCIDENTAL ONLY -->
                    <label class="toggle" for="accOnlyToggle">
                        <input class="toggle__input" name="" type="checkbox" id="accOnlyToggle" disabled>
                        <div class="toggle__fill"></div>
                    </label>
                    <label class="badge label inactive" id="accOnlyToggleLabel">accidentals only</label>
                </div> <!-- end toggle switch box -->

            </div><!-- end toggle switch container -->

            </div> <!-- end generic box -->
        </div> <!-- end forms-flexbox -->


        <!-- Play button -->
        <div class="forms-flexbox">
            <a id="play" data-playurl="{{url_for('main.play')}}" class="btn btn-success btn-lg btn-block">Play</a>
        </div>

        <div class="cheat-sheet headers">
            <p> Open <a class="link" href="{{url_for('static', filename='grand_staff.jpg')}}" target="_blank">Notes Cheat Sheet</a> before you start if you need some help</p>
        </div>

    <!-- {% if pagination and pagination.pages > 1 %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'main.index') }}
    </div>
    {% endif %} -->

{% endblock %}
