{% extends 'base.html' %}

{% block title %} finetune {% endblock %}
{% block head %}
    {{super()}}
    <script src="https://cdn.jsdelivr.net/npm/vexflow/build/cjs/vexflow.js"></script>
    <script src="{{url_for('static', filename='index.js')}}" defer></script>
{% endblock %}

{% block page_content %}

        <!-- the top HEADER ON the page -->
        <div class="headers">
                <div class="main-header">
                    <h1>Welcome to finetune</h1> 
                    <h3> game that lets you practice piano sight reading</h3>
                </div>
        </div>

        <!-- container to place VexFlow music sheet -->
        <div id="vexflow-space"></div>

        <div class="forms-flexbox">
            <a class="btn btn-success btn-lg btn-block"
            {% if current_user.is_authenticated %}
                href="{{url_for('main.home')}}" >Ready to Play?
            {% else %}
                href="{{url_for('auth.login')}}" >Login
            {% endif %}
            </a>
        </div>

{% endblock %}
