{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/vexflow/build/cjs/vexflow.js"></script>
    <script src="{{url_for('static', filename='piano.js')}}" defer></script>
{% endblock %}

{% block title %}
    {{super()}} Play
{% endblock %}

{% block page_content %}

    <!-- container to place VexFlow music sheet -->
    <div id="vexflow-space" data-level="{{ level }}"></div>

    <!-- counter and score -->
    <div class="play-scoreboard label">
        <div class="timer-score-container">
            <span class="scoreboard-label">timer: </span>
            <span class="badge" id="counter">0</span>
        </div>
        <div class="timer-score-container">
            <span class="scoreboard-label" id="newScore">score: </span>
            <span class="badge" id="score" data-high="{{ high_score }}">0</span>
        </div>
    </div>

    <!-- Creates the piano shape and adds audio notes to correspond to each key -->
    <div class="piano">
        {% for note in notes %}
        <div data-note="{{ note.name }}" class="key {{ note.color }} {{ note.name }}">
            <span class="noteLabel" id="label{{note.name}}">{{note.name}}</span>
        </div>
        <audio id="{{ note.name }}" src="{{url_for('static', filename='sounds/' + note.name + '4.mp3')}}"></audio>
        {% endfor %}
    </div>

    <!-- <button id='btn-pause' type='button' class='btn btn-block btn-primary'>Pause</button> -->
    <div class="play-buttons-container">
        <div class="btn-container">
            <a id="btn-pause" class="btn btn-success btn-lg btn-block">Start</a>
        </div>
        <div class="btn-container">
            <a id="btn-exit" data-exiturl="{{ url_for('main.exit', score='') }}" class="btn btn-success btn-lg btn-block">Exit</a>
        </div>
    </div>

    <div class="cheat-sheet headers">
        <p> Open <a href="{{url_for('static', filename='grand_staff.jpg')}}" target="_blank">Notes Cheat Sheet</a> for help</p>
    </div>

{% endblock %}


